#salesBody{
    display: block;      
    justify-content: space-around;
    
    background-color: #dec18f;
}

#salesHead{
    display:block;
    text-align:center;

}

/* *************************************************** */

#indexBody{
    display:block;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    background-color:tan;
    margin-bottom: 20px;
}

img.bodyImages{
    height: 250px;
    width: auto;
    float: left;
    margin: 15px;
}

/* *************************************************** */

#header{
    border-bottom: 2px solid black;
    background-color: #dec18f;
    color: #544e42;
    
}

#title{
    font-family: 'Bree Serif', serif;
    font-size: 5rem;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    
    
}

a{
    color: black;
}

a:hover{
    color: white;
}

#titleImg{
    margin: 0 auto;
    display: block;
    filter:sepia(60%);
}

#navigationList{
    display:block;
    height: 10px;
    list-style-type: none;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    text-align: center;
    border-bottom: 2px solid gray;
    justify-content: space-around;
    background-color: #a37e5e;
}
h2{
    margin-bottom: 0px;
    font-family: 'Fondamento', cursive;
    font-size: 2rem;
}

#frosted{
    width: 80px;
    height: auto;
}

#aboutCookies{
    display:flex;
    justify-content:space-around;
}

#merchLocations{
    display: flex;
    margin: 20px 0px;
}

#merch{
    flex-basis: 75%;
    margin-right: 20px;
}

#lists{
    display: block;
    text-align: center;
}

.locationLists{
    list-style-type: none;
    flex-basis: 50%;
    text-align: center;
    padding: 5px;
}


#locations{
    text-align: center;
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.281);
}

p{
    font-size: 1.3rem;
    color: rgb(6, 53, 50);

}



    



div#navigation{
    
    height: 10px;
    list-style-type: none;
   
    padding: 5px;
}

li.navList{
    
    padding-left: 10px;
    padding-right: 10px;
}

li.navList:hover{
    color:red;
}
table{
    width: 500;
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
    text-align: right;
    font-family: Arial, Verdana, sans-serif;
}

.top{
    width: 750px;
    margin: 20px 20px;
}

#salesHead{
    font-size: 4rem;
}


th{
    padding: 2px 5px 2px 5px;
    border-bottom: 1px solid black;
}

td{
    border-bottom: 1px solid black;
    
}

tr:hover{
    background-color: rgba(81, 88, 88, 0.349);
}

td:hover{
    background-color: rgba(21, 56, 95, 0.623);
    color:white;
    
}


input{
    width: 50%;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    margin: auto;
    box-shadow: 1px 2px 1px black;
}

label{
    margin: auto;
    display: block;
    width: auto;
    text-align: center;
    padding-top: 10px;
}

input:focus{
    background-color: rgba(233, 233, 233, 0.486);
}

legend{
    margin:auto;
    font-size: 30px;
    font-style: italic;
}

button{
    width: 50%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 3px 2px 3px black;
    margin-left: 190px;
    margin-top: 10px;
}
button:hover{
    background-color: lightgrey;
}


#newStore{
    width: 800px;
    height: 1200px;
    margin: auto;
}


    


